<!doctype html>

<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock %}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/img/icon.png"/>
    {% assets 'stylesheets' %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}"/>
    {% endassets %}
  </head>

  <body class="text-center bg-gradient-to-r from-green-400 to-blue-500">
    <header class="bg-white text-black">
      <div class="p-2 text-lg">Seoul Biennale of Architecture &amp; Urbanism, 2021</div>
      <nav class="flex justify-around max-w-md mx-auto p-2 bg-black text-white">
        {% for page in pages %}
          <a href="{{ SITEURL }}{{ page.url }}">{{ page.title }}</a>
        {% endfor %}
      </nav>
    </header>

    <main class="relative max-w-md mx-auto pb-6 bg-white shadow-lg">
      {% block body %}{% endblock %}
    </main>

    <footer class="bg-black text-white">
      <div class="p-2">&copy; A+A, 2021</div>
    </footer>
  </body>
</html>
