<!doctype html>

<html lang="{% block lang %}{{ DEFAULT_LANG }}{% endblock %}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/img/icon.png"/>
    {% assets 'stylesheets' %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}"/>
    {% endassets %}
  </head>

  <body class="text-center bg-black">
    <header class="bg-white text-black">
      <div class="p-2 text-lg italic sm:not-italic">
        Seoul Biennale of Architecture &amp; Urbanism, 2021
      </div>
      {% include '_nav.html' %}
    </header>

    <main class="relative max-w-screen-sm mx-auto pb-6 bg-white">
      {% block body %}{% endblock %}
    </main>

    <footer class="bg-white text-black">
      {% include '_nav.html' %}
      <div class="p-2">&copy; A+A 2021</div>
    </footer>

    <script src="{{ SITEURL }}/theme/js/svg_anchors.js"></script>
  </body>
</html>
