/* Imports */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Page properties */

html {
    scroll-behavior: smooth;
}


/* Default styles of generic elements */

h2 {
    @apply text-left text-3xl m-2 mt-24 font-bold;
    font-variant: small-caps;
}

main > .section:first-child h2 {
    @apply mt-0 pt-2;
}

h3 {
    @apply text-left text-xl m-1 ml-4 font-bold;
}

p, .line-block {
    @apply m-6 text-black;
}

svg {
    @apply w-full h-auto;
}

.vimeo {
    @apply my-6;
}

/* Vimeo embeds */

.vimeo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.vimeo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* Address block */

.address {
    @apply border-dotted border-4 border-black text-left m-2 mx-4 p-2;
}

.address p, .address .line-block {
    @apply m-1;
}


/* Logos */

.logos {
    @apply mt-24;
}

.logo {
    @apply mx-auto my-0;
}


/* Inline SVG figures */

svg a g {
    filter: brightness(1);
    transition: filter 150ms ease-in-out;
}

svg.pulse-links a g {
    @apply animate-pulse;
}

svg a:hover g, svg a:focus g {
    @apply animate-none;
    filter: brightness(1.3);
}
